<h1>About us</h1>
<p>We are working on our One Month Rails Pinteresting app!</p>

<h2>This is a test header</h2>
<p>I am trying to see if this creates a new paragraph in the page</p>

<h1>I'm guessing this changes the size of the text</h1>
<h2>This gets smaller</h2>
<h3>And this gets even smaller</h3>
