
<div class="jumbotron">
<h1>Malaysian Business News Made Simple</h1>
</div>

<p>Get the latest updates on the Malaysian Business News in a simple and easy to read manner</p>

<p>We take the news and break it into 2 sections. A <i>SUMMARY</i>, (because WHO has time to read a WHOLE ARTICLE?) and a short <i>COMMENTARY</i> that explains the outcome of the news. 

<h1>Sounds good?</h1>

<p><%= link_to "Download the App now!","#", class: "btn btn-primary btn-lg" %> </p>
	